/* Estilo del panel contenedor */
.panel {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
}

/* Estilo general de los botones */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
    -fx-border-color: #2980b9;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 2, 2);
    -fx-transition: all 0.3s ease-in-out;
}

/* Efecto Hover */
.button:hover {
    -fx-background-color: #2980b9;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 3, 3);
}

/* Efecto cuando se presiona el botón */
.button:pressed {
    -fx-background-color: #2471a3;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 1, 1);
}
