/* Estilo general de los botones */
.button {
    -fx-background-color: #1e1485; /* Azul oscuro */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
    -fx-border-color: #1e1485; /* Azul oscuro */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 2, 2);
    -fx-transition: all 0.3s ease-in-out;
}

/* Efecto Hover */
.button:hover {
    -fx-background-color: #f1a52b; /* Naranja */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 3, 3);
}

/* Efecto cuando se presiona el botón */
.button:pressed {
    -fx-background-color: #d18c1f; /* Naranja más oscuro */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 1, 1);
}